<% content_for :title, "Editing movie" %>

<div class="heading" style="font-size: 50px">Editing <%= @movie.title %></div>

<div class="page" style="margin-top: 10px">
  <%= render "form", movie: @movie %>

  <div>
    <%= link_to "Show this movie", @movie %> |
    <%= link_to "Back to movies", movies_path %>
  </div>
</div>
