<p style="color: green"><%= notice %></p>

<% content_for :title, "Movies" %>

<div class="heading">Rotten Potatoes</div>

<table class="movies-list">
  <thead>
    <tr>
      <th>Title</th>
      <th>Rating</th>
      <th>Release Date</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @movies.each do |movie| %>
      <%= render movie %>
    <% end %>
  </tbody>
</table>

<%= link_to "Add a New Movie", new_movie_path, class: "floating-button", id: "add-button" %>
