<% content_for :title, "New movie" %>

<div class="heading" style="font-size: 50px">New Movie</div>

<div class="page">
  <%= render "form", movie: @movie %>

  <div>
    <%= link_to "Back to movies", movies_path %>
  </div>
</div>
