/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-color: rgb(7, 27, 42);
    font-family: "Raleway", sans-serif;
    color: white;
}

a {
    color: white;
    font-weight: 900;
    text-decoration: none;
}

.heading {
    font-size: 100px;
    font-weight: 900;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.page {
    width: 50%;
    background-color: white;
    color: black;
    margin: auto;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 300px;
}

.page a {
    color: #7ca1d8;
    font-weight: 900;
}

.page a:hover {
    color: #1b2c47;
}

table{
    margin:auto;
    width:80%;
    overflow:hidden;
    background-color: white;
    border-radius:10px;
    position:relative;
    border-collapse:collapse;
    z-index:1;
    color: #2b3c56;
    white-space:nowrap;
    font-family: "Mukta", sans-serif;
}

tbody tr:not(:last-child){
    border-bottom:1px solid rgba(1,1,1,0.2);
}

tbody tr:not(:last-child){
    border-bottom:1px solid rgba(1,1,1,0.2);
}

th, td{
    padding:1rem;
    gap:10px;
    position:relative;
    cursor:default;
}

td:last-child:hover a{
    color:black;
}

thead{
    background-color: #e4ecfe;
}

th{
    text-transform:uppercase;
}

th a {
    color:#2b3c56;
}

tr td:last-child, tr td:nth-last-child(2), tr td:nth-last-child(3), tr td:nth-last-child(4){
    text-align:center;
}

tr:hover{
    background-color:#f9f9f9;
}

th:hover {
    background-color: #e4ecfe;
}

.floating-button {
    position:fixed;
	bottom:40px;
	right:40px;
	background-color:#7ca1d8;
	color:#FFF;
	text-align:center;
	box-shadow: 2px 2px 3px #7ca1d8;
    border-radius: 10px;
    padding: 10px;
    z-index: 10;
}

.floating-button:hover {
    padding: 20px;
}

.show-movie {
    text-decoration: none;
    font-weight: 900;
    font-size: large;
    color: #7ca1d8;
}

.show-movie:hover {
    color: blue;
}

.movie-details {
    width: 60%;
    font-weight: 900;
    display: flex;
    justify-content: space-between;
}

.movie-description {
    width: 60%;
    min-height: 200px;
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.delete-button {
    border: none;
    background-color: white;
    text-decoration: none;
    font-weight: 900;
    color: #d87c7c;
    padding: 0;
    font-size: medium;
    cursor: pointer;
}

.delete-button:hover {
    color: #531818;
}

#movie-form {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

#movie-form .form-group {
    width: 100%;
    margin: 5px;
}
#movie-form .form-group label {
    font-weight: 800;
}

#movie-form .form-group input {
    width: 100%;
    height: 2em;
    font-family: "Raleway", sans-serif;
    border: none;
    background-color: #e5efff;
    padding: 4px;
    border-radius: 4px;
}

#movie-form .form-group textarea {
    width: 100%;
    height: 2em;
    font-family: "Raleway", sans-serif;
    border: none;
    background-color: #e5efff;
    padding: 4px;
    border-radius: 4px;
    resize: none;
}

#update-movie {
    background-color: white;
    text-decoration: none;
    font-weight: 900;
    color: #478036;
    padding: 0;
    font-size: medium;
    cursor: pointer;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 1px solid #478036;
    border-radius: 10px;
    padding: 20px;
}

#update-movie:hover {
    color: white;
    background-color: #478036;
}

.sort-links {
    display: inline;
    font-size: small;
    margin-right: 5px;
}

.sort-links .active {
    color:#478036;
}

.sort-links .inactive {
    color:#7ca1d8;
}

.sort-links .inactive:hover {
    color:#2b3c56;
}